client/node_modules
server/node_modules
client/public/vendor
client/public/build
client/public/compiled
client/build

server/.env
client/.env
server/script/input


server2

tenkai_nest/node_modules
tenkai_nest/dist
tenkai_nest/.env